
    <%= javascript_include_tag 'pagination' %>
 
 
    <ul id="menu">

      
      <% num = 1%>
  <% @sidebar_list.each do |reflection| %>
  <li>
    <%= link_to reflection_path(reflection.id),{:remote => true, :class=>"number", :id=>"link_#{num}" } do %>
      <i class="icon-fire"></i>
      <%= @sidebar_list.offset + num %>
      <%end%>
      <ul class="submenu" id="submenu_#{num}">
        <li><a=href="#">date</a></li>
        <li><a=href="#"><%= reflection.scripture %></a></li>
      </ul>
    </li>
  <% num += 1%>
  <% end %>
  
  <div class="digg_pagination">  
    <%= will_paginate @sidebar_list, :page_links => false %>
  </div>
  
  <span id="store"><%= link_to "Visit Our Store", store_path %></span>
  <hr>
  <span id="store"><%= link_to "Visit Your Bookshelf", free_path %></span>
  <hr>
  
</ul>

 
  
  
  
 

