<div class='<%= controller.controller_name %>'>
<h1>Listing reflections</h1>

<div class="centered">
<%= link_to 'New Reflection', new_reflection_path %>
</div>


<table>
  

    <% @reflections.each do |reflection| %>
    
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="list_description">
        <dl>
          <dt><%=reflection.scripture%> | October 1, 2014</dt>
          <dd><%= truncate(strip_tags(reflection.text), length: 80) %>
        
              
      <td><%= reflection.prayer %></td>
      <td><%= reflection.question %></td>
        </dl>
      </td>
    
    <td class="list_actions">
      <%= link_to 'Show', reflection %></br>
      <%= link_to 'Edit', edit_reflection_path(reflection) %></br>
      <%= link_to 'Destroy', reflection, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
    
    <% end %>
</table>
<br />


</div>
