<p id="notice"><%= notice %></p>

<p>
  <%= @reflection.scripture %>
</p>

<p>
  <%= @reflection.text %>
</p>

<p>
  <strong>Life Prayer</strong>
  <br />
  <%= @reflection.prayer %>
</p>

<p>
  <strong>Question</strong>
  <br />
  <%= @reflection.question %>
</p>

<p>
  <strong>Associated Group</strong>
  <br />
  <%= @reflection.group_id %>
</p>

<!-- <%= link_to 'Edit', edit_reflection_path(@reflection) %> |
<%= link_to 'Back', main_path %> -->
