

<div class='<%= controller.controller_name %>'>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<div class="centered">
  <%= link_to 'View Free Reflections', free_path, :class=>"btn btn-info" %>
</div>

<div class="row">
  <% @collections.each do |collection| %>
   
  
    <div class="col-lg-4">
      <div class="entry">
        
        
        <%= image_tag(collection.image_url) %>
        <h3><%= collection.name %></h3>
        <p class="description"><%= sanitize(collection.description) %></p>
        <div class="price_line">
          <span class="price"><%= number_to_currency(collection.price) %></span>
          <%= button_to 'Add to Cart', line_items_path(collection_id: collection), :class=>"btn btn-info" %>
          
        </div>
      </div>
    </div>
      <% end %>
    
    
    
    
  </div>

</div>
  
